<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="TestBlazor.styles.css" />
    <link id="syncfusiontheme" href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap.min.js"></script>

    <script>
        function setTheme(theme) {
        document.getElementsByTagName('body')[0].style.display = 'none';
        let synclink = document.getElementById('syncfusiontheme');
        if (theme === 'Dark') {
            synclink.href = '_content/Syncfusion.Blazor.Themes/bootstrap5-dark.css';
            document.body.classList.add('bg-dark');
            document.body.classList.remove('bg-light');
        } else {
            synclink.href = '_content/Syncfusion.Blazor.Themes/bootstrap5.css';
            document.body.classList.add('bg-light');
            document.body.classList.remove('bg-dark');
        }

        setTimeout(function () { document.getElementsByTagName('body')[0].style.display = 'block'; }, 200);
        }


    </script>

    @using Microsoft.AspNetCore.Components.Authorization
    @using TestBlazor.Components.Layout

</body>

</html>




